*{
    margin: 0;
    padding: 0;
}
.cabecalho{
    background-image: linear-gradient(blue, black);
    display: flex;
    justify-content: space-around;
}
.lista-cabecalho{
    color: white;
    font-size: 26px;
}
.lista-juvenil{
    display: inline-block;
}
.primeira-parte{
    background-image: linear-gradient(black, blue);
    height: 500px;
    padding: 100px;
    color: white;
    display: flex;
}
.gordo{
    padding: 15px;
}
.turixta{
    padding: 15px;
}
.foto-estudante{
    width: 25%;
}