*{
    margin: 0;
    padding: 0;
}
.cabecalho{
    background-color: #424e61;
    display: flex;
}
.lista-cabecalho{
    color: white;
    font-size: 26px;
}
.primeira-parte{
    background-image: linear-gradient(black, grey);
    height: 500px;
    padding: 100px;
    color: white;
}
.gordo{
    padding: 15px;
}
.turixta{
    padding: 15px;
}